<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Login-django{% endblock %}</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    
</head>
<body>
    
    <nav class="navbar navbar-expand-md navbar-light">
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <ul class="navbar-nav mr-auto">
                <!-- Left side links (if any) -->
            </ul>
        </div>
        <div class="mx-auto order-0">
            <a class="navbar-brand" href="/">
                <h4>EveMgmt.</h4>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-target=".dual-collapse2">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-outline-primary" href="/user">{{user.username|title}}</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-outline-primary" href="{% url "signup" %}">Register</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    


    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>