<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <style>
        body{
            background: linear-gradient(45deg, deepskyblue,deeppink);
        }
        .card{
            width:900px;
            height:300px;
            margin: 130px;
            /* margin-left: 450px; */
            display: flex;
            align-items: center;
            justify-content: center;
            
        }
        input{
            width: 300px;
            height: 30px;
            border-radius: 5px;
        }
    </style>
</head>
<body>
<div class="card">
    <div class="card-body">
        <h1 class="card-title">Login Page</h1><br>
        <form >
            <label for="mail"><h4>Email-id</h4></label><br>
            <input type="text" placeholder="enter email-id"><br><br>
            <label for="password"><h4>Password</h4></label><br>
            <input type="password" placeholder="enter password"><br><br>
            Already have an account? <a href="index.html" style="text-decoration: underline;color: blue;">Register here</a>
        </form>
    </div>
</div>

</body>
</html>